# Make sure directory listing is disabled
Options +SymLinksIfOwnerMatch 
#Options +FollowSymLinks -Indexes
RewriteEngine on
#RewriteBase /

# Send request via index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


RewriteRule ^(.*)$ index.php/$1 [L]
